@font-face {
    font-family: Letra-Mario;
    src: url(SuperMario256.ttf);
}
body{
    background: url('img/wallpaperbetter.com_4096x2304.jpg') no-repeat cover center fixed;
}
p{
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
    }
b{
    font-family: Letra-Mario; 
}
    
